<p><strong>Kết quả xét tuyển</strong></p>
<p>Trung tâm thông báo hiện tại học sinh <strong>{{name}}</strong> được xếp vào lớp học thử <strong>{{className}} vào thứ {{date}} ngày {{day}}</strong>. Học sinh vui lòng tham gia học thử đầy đủ.</p>
<p>Học sinh được cấp tài khoản cá nhân để truy cập vào hệ thống đào tạo của trung tâm.</p>
<p>Tài khoản: <strong>{{mail}}</strong>, mật khẩu: <strong>{{password}}</strong></p>
<p>Mọi thông tin chi tiết vui lòng liên hệ về trung tâm qua hotline.</p>