<p><strong>Kết quả xét tuyển</strong></p>
<p>Trung tâm thông báo hiện tại học sinh {{name}} được xếp vào lớp học thử {{className}} vào thứ {{date}} ngày {{day}}. Học sinh vui lòng tham gia học thử đầy đủ.</p>
<p>Học sinh được cấp tài khoản cá nhân để truy cập vào hệ thống đào tạo của trung tâm.</p>
<p>Tài khoản: {{email}}, mật khẩu: {{password}}</p>
<p>Mọi thông tin chi tiết vui lòng liên hệ về trung tâm qua hotline.</p>